---
layout: default
title: More Bows Recipes
---

<h2>More Bows Recipes</h2>

{% assign image_files = site.static_files | where: "isRecipe", true | sort: 'basename' %}
{% for img in image_files %}
<picture>
  {% assign jxlPath = img.path | replace_first: ".png", ".jxl" %}
  {% assign webpPath = img.path | replace_first: ".png", ".webp" %}
  {% for siteFile in site.static_files %}
    {% if siteFile.path == jxlPath %}
      <source srcset="{{ jxlPath | relative_url }}" type="image/jxl">
    {% endif %}
    {% if siteFile.path == webpPath %}
      <source srcset="{{ webpPath | relative_url }}" type="image/webp">
    {% endif %}
  {% endfor %}
  <img height="664" width="704" style='height: 100%; width: 100%; object-fit: contain' alt="{{ img.basename }}" src="{{ img.path | relative_url }}" />
</picture>
{% endfor %}
